.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  //   line-height: 1;

  @supports (backdrop-filter: blur(10px)) or
    (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    @include absCenter;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    background-color: $color-white;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 0.4s 0.2s;

    @include respond(tab-port) {
      text-align: center;
    }

    @include respond(phone) {
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-port) {
      display: block;
      width: 100%;
    }
  }

  &__right {
    width: 66.666666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      display: block;
      width: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      display: inline-block;
      width: 40%;
      margin: 1rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    @include respond(phone) {
      column-count: 1;
      column-gap: none;
      column-rule: none;
    }
  }

  // Open States
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3.5rem;
      text-decoration: none;
      display: inline-block;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
