// COLOR
$color-primary: #55c57a;
$color-primary-light: #5ed34a;
$color-primary-dark: #1cb985;

$color-grey-light-1: #f7f7f7;

$color-grey: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT SIZE
$default-font-size: 1.6rem;
